@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 98%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 100% 65%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 100% 65%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4.8% 93%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 318 78% 55%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 100% 65%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 267 50% 29%; /* #432371 */
    --foreground: 210 20% 98%;
    --card: 267 50% 34%;
    --card-foreground: 210 20% 98%;
    --popover: 267 50% 29%;
    --popover-foreground: 210 20% 98%;
    --primary: 29 93% 73%; /* #faae7b */
    --primary-foreground: 267 50% 15%;
    --secondary: 29 93% 63%;
    --secondary-foreground: 210 20% 98%;
    --muted: 267 50% 39%;
    --muted-foreground: 29 93% 83%;
    --accent: 29 93% 73%;
    --accent-foreground: 267 50% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 267 50% 39%;
    --input: 267 50% 39%;
    --ring: 29 93% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply text-foreground bg-background;
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .animated-sparkle-text {
    position: relative;
    display: inline-block;
  }

  .animated-sparkle-text::after {
    content: attr(aria-label);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    color: transparent;
    text-shadow: none;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #ff8989, #e2ff89, #89ff9e);
    filter: blur(18px);
    transform: scale(1.2);
    opacity: 0.6;
  }
  
  .dark .animated-sparkle-text::after {
    opacity: 0.4;
  }
}
